<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL id="state">
            {% for x in state.values()|sort(attribute="name") %}
                <LI>{{ x.id }}: <B>{{ x.name }}</B>
                    <ul>
                        {% for y in x.cities|sort(attribute="name") %}
                        <li>{{ y.id }} <B>{{ y.name }}</B></li>
                        {% endfor %}
                    </ul>
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>