<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <UL id="Cities">
            {% for x in City.values()|sort(attribute="name") %}
                {%  if x.stateid == Id %}
                    {% for s in State.values() %}
                        <H1>States: {{ s.name }}</H1>
                    {% endfor %}
                <H3>Cities:</H3>
                <LI>{{ x.id }}: <B>{{ x.name }}</B></LI>
                {%  else %}
                <H1>Not found</H1>
            {% endif %}
            {% endfor %}
        </UL>
    </BODY>
</HTML>